.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 500;
}

.card {
  position: fixed;
  width: 200px;
  height: 200px;
  z-index: 501;
}

.draw {
  left: 0;
  top: 0;
  animation: cardDrawKeyframes 2s forwards ease-in-out;
}

.discard {
  left: 0;
  top: 0;
  animation: cardDiscardKeyframes 2s forwards ease-in-out;
}

$hand-top: calc(100vh - 100px);

@keyframes cardDrawKeyframes {
  0% {
    transform: translate(100vw, 50vh);
  }
  50% {
    transform: translate(calc(50vw - 100px), calc(50vh - 100px));
  }
  100% {
    transform: translate(var(--x), #{$hand-top});
  }
}

@keyframes cardDiscardKeyframes {
  0% {
    transform: translate(var(--x), #{$hand-top});
  }
  50% {
    transform: translate(calc(50vw - 100px), calc(50vh - 100px));
  }
  100% {
    transform: translate(-200px, calc(50vh - 100px));
  }
}

.addToHand {
  animation: cardAddToHand 1.2s forwards ease-out;
}

@keyframes cardAddToHand {
  0% {
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    left: 50vw;
    top: calc(100vh - 140px);
    transform: translate(-50%, -100%);
    opacity: 1;
  }
}

.addToDiscard {
  animation: cardAddToDiscard 1.2s forwards ease-out;
}

@keyframes cardAddToDiscard {
  0% {
    left: 100vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    left: 90px;
    top: 50vh;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.addToDeck {
  animation: cardAddToDeck 1.2s forwards ease-out;
}

@keyframes cardAddToDeck {
  0% {
    left: 0;
    top: 50vh;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    left: calc(100vw - 90px);
    top: 50vh;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}
