.myStats {
  display: flex;
  gap: 40px;

  font-size: 40px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f4;

  .hp {
    color: red;
  }

  .shields {
    color: gray;
  }

  .energy {
    color: dodgerblue;
  }

  .mora {
    color: darkgoldenrod;
  }

  .actionPoints {
    .desc {
    }
  }
}
