.menu {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(180deg, rgb(48, 8, 47) 0%, #141415 100%);

  .title {
    position: absolute;
    right: 0;
    top: 0;
    margin: 100px;

    color: #b5a185;
    font-size: 150px;
    font-weight: 500;
  }

  .menuItems {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 50px;

    color: #f1f1f2;
  }

  button {
    margin: 10px;
    width: 150px;
    height: 50px;

    border-radius: 50px;
    border: solid 2px #f1f2f2;
    background-color: #141415;

    color: #b5a185;
    font-size: 20px;
    font-weight: 300;

    &:hover {
      border: solid 2px #b5a185;
    }
  }

  input {
    width: 300px;
    height: 50px;

    background-color: rgba(0, 0, 0, 0);

    color: #f1f1f2;
    font-size: 20px;
    font-weight: 300;
  }
}
