@keyframes deathBurn {
  0% {
    filter: brightness(1) sepia(0);
    opacity: 1;
  }
  50% {
    filter: brightness(0.8) sepia(0.5) hue-rotate(-15deg);
    opacity: 0.9;
  }
  100% {
    filter: brightness(0.15) sepia(1) hue-rotate(-30deg);
    opacity: 0;
  }
}

.enemyWrapper {
  position: relative;
  display: inline-block;
}

.enemy.canSelected:hover {
  color: aqua;
}

.enemy.selected {
  color: red;
}

.enemy.death {
  animation: deathBurn 1.5s forwards ease-in;
  pointer-events: none;
}
