.charactersList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.background {
  min-height: 100vh;
  padding: 20px;

  background: linear-gradient(
    180deg,
    rgba(33, 27, 81, 1) 0%,
    rgba(75, 113, 173, 1) 77%,
    rgba(42, 75, 139, 1) 100%
  );
  background-attachment: fixed;
}
