.leylines {
  display: block;
}

.cycleNumber {
  background-color: #f4f1eb;
  border: 5px solid #7c8f9f;
  border-radius: 30px;

  width: 40px;
  height: 40px;

  color: #424f65;
  font-size: 30px;
  font-weight: 800;
  font-family: cursive;

  text-align: center;
  vertical-align: middle;
}
