.leyline {
  position: relative;
  display: inline-block;
  color: blue;
  padding: 3px;
  background-color: dodgerblue;
  border-radius: 5px;
  cursor: help;
}

.leyline .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.leyline:hover .tooltip {
  visibility: visible;
}
