.game {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .bg {
    background-image: url("../../../public/bg.jpg");
    z-index: -1;

    background-size: 100%;
    height: 100vh;
    width: 100vw;
  }

  .enemies {
    position: absolute;
    display: flex;
    gap: 50px;
    top: 20px;
  }

  .cards {
   display: flex;
   flex-direction: row;

   justify-content: space-evenly;
   position: absolute;
   bottom: 0;
  }

  .selections {
    position: absolute;
  }

  .stats {
    position: absolute;
    margin: auto;
    bottom: 300px;
  }

  .burstRow {
    position: absolute;
    bottom: 240px;
    left: 50%;
    transform: translateX(-50%);
  }

  .otherPlayers {
    position: absolute;
    right: 0;
    top: 10%;
  }

  .cycles {
    position: absolute;
    top: 0;
    left: 0;
  }
}
