.game {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .enemies {
    position: absolute;
    display: flex;
    gap: 50px;
    top: 20px;
  }

  .cards {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
  }

  .stats {
    position: absolute;
    margin: auto;
    bottom: 300px;
  }

  .otherPlayers {
    position: absolute;
    left: 0;
    top: 10%;
  }

  .cycles {
    position: absolute;
    top: 0;
    left: 0;
  }

  .discard {
    position: absolute;
    left: 0;
    color: darkslateblue;
  }

  .deck {
    position: absolute;
    right: 0;
    color: chocolate;
  }
}
